

aside {
    width: 30%;
	height: 400px;
	margin-right: 30px;
	background-color: #eee;
	float: right;
}

aside h2 {
	color: darkblue;
	
}

aside img {
	
	padding-right: 100px;
}

footer {
	float: none;
}